<template>
  <h1>hi <%= name %></h1>
</template>

<style>
h1 {
  color: red;
}
</style>

<script>
  module.exports = {
    data: {
      name: 'nom'
    },
    test () {
      return this.hello
    }
  }
</script>